*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  background-color: var(--white);
  font-family: 'Pretendard', 'sans-serif';
  color: var(--primary-text);
}

// Text Color
.fc--primary {
  color: var(--main-text-color);
}

.fc--secondary {
  color: var(--sub-text-color);
}

.fc--tertiary {
  color: var(--white);
}
