// Layout Style

// Header
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  height: 80px;
  border-bottom: 1px solid #000;
}

// Footer
.footer {
  display: flex;
  align-items: stretch;
  justify-content: center;
  min-height: 100px;
  padding: var(--hds-6) 0 var(--hds-12);
  border-top: 1px solid var(--gray250);

  .container {
    display: flex;
    flex-direction: column;
    row-gap: var(--hds-2);
    max-width: 1200px;
    margin: 0 auto;
  }

  &-text {
    display: flex;
    align-items: flex-start;
  }

  &-link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: var(--hds-2);

    .link-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      border: 1px solid var(--gray250);
      border-radius: var(--hds-1);
    }
  }

  &-copyright {
    display: flex;
    justify-content: space-between;
  }

  @media screen and (max-width: 991px) {
    &-info {
      flex-direction: column;
      gap: var(--hds-0);
    }

    &-link {
      justify-content: center;
    }
  }

  @media screen and (max-width: 512px) {

    &-copyright {
      flex-direction: column;
      row-gap: var(--hds-4);
    }
  }
}

// Main
.section {
  height: 500vh;

  .container {
    height: 100vh;

    .content-wrap {
      padding: 120px 0;
      text-align: center;
    }
  }

  .section-title {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    > * {
      text-align: center;
    }
  }
}
