// Layout Style

// Header
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  height: 80px;
  border-bottom: 1px solid #000;
}

// Footer
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  height: 80px;
  border-top: 1px solid #000;
}

// Main
.section {
  height: 500dvh;

  .container {
    height: 100dvh;

    .content-wrap {
      padding: 120px 0;
      text-align: center;
    }
  }

  .section-title {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    > * {
      text-align: center;
    }
  }
}
