// Layout Style
$layout-margin-x: 20px;
$layout-z-index: 99;

// Common Container
.header .container,
.footer .container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

// Header
.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: stretch;
  justify-content: center;
  min-height: 80px;
  background-color: var(--white);
  z-index: $layout-z-index;

  .container {
    align-items: center;
    justify-content: space-between;

    .link-item {
      display: inline-block;
      border-radius: var(--hds-4);
      text-decoration: none;
      cursor: pointer;
      will-change: background;

      .text {
        font-weight: 600;
      }

      &.link-form {
        background-color: var(--point-color);
      }

      &:not(.header-logo) {
        padding: var(--hds-3) var(--hds-4);
      }
    }
  }

  @media screen and (max-width: 597px) {
    .container {
      flex-direction: column;

      .header-nav {
        align-self: stretch;
        margin: 0 calc(-1 * $layout-margin-x);

        .nav-inner {
          justify-content: center;
          column-gap: var(--hds-5);
          padding: var(--hds-2) 0;
        }
      }

      .link-item {
        padding: var(--hds-1) var(--hds-2);

        &:not(.header-logo) {
          padding: var(--hds-2) var(--hds-3);
        }
      }
    }
  }
}

// Footer
.footer {
  display: flex;
  align-items: stretch;
  justify-content: center;
  min-height: 100px;
  padding: var(--hds-6) 0 var(--hds-12);
  background-color: var(--white);
  border-top: 1px solid var(--gray250);

  .container {
    flex-direction: column;
    row-gap: var(--hds-2);
  }

  &-text {
    display: flex;
    align-items: flex-start;
  }

  &-link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: var(--hds-2);

    .link-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      border: 1px solid var(--gray250);
      border-radius: var(--hds-1);
    }
  }

  &-copyright {
    display: flex;
    justify-content: space-between;
  }

  @media screen and (max-width: 991px) {
    &-info {
      flex-direction: column;
      gap: var(--hds-0);
    }

    &-link {
      justify-content: center;
    }
  }

  @media screen and (max-width: 597px) {
    &-copyright {
      flex-direction: column;
      row-gap: var(--hds-4);
    }
  }
}

// point
.section {
  height: 500vh;

  .container {
    height: 100vh;

    .content-wrap {
      padding: 120px 0;
      text-align: center;
    }
  }
}
