@mixin break-point-interval-gap {
  gap: var(--hds-5);

  @media screen and (max-width: $grid-break-point-lg) {
    gap: var(--hds-4);
  }
  @media screen and (max-width: $grid-break-point-md) {
    gap: var(--hds-3);
  }
}

@mixin app-box {
  padding: var(--hds-5);

  @media screen and (max-width: $grid-break-point-lg) {
    padding: var(--hds-4);
  }
}
