@mixin break-point-heading-size {
  font-size: var(--heading-text-lg-font-size);
  line-height: var(--heading-text-lg-line-height);
  font-weight: var(--heading-text-lg-font-weight);

  @media screen and (max-width: $grid-break-point-lg) {
    font-size: var(--heading-text-md-font-size);
    line-height: var(--heading-text-md-line-height);
    font-weight: var(--heading-text-md-font-weight);
  }

  @media screen and (max-width: $grid-break-point-md) {
    font-size: var(--heading-text-sm-font-size);
    line-height: var(--heading-text-sm-line-height);
    font-weight: var(--heading-text-sm-font-weight);
  }
}

@mixin break-point-text-size {
  font-size: var(--text-xl-font-size);
  line-height: var(--text-xl-line-height);
  font-weight: var(--text-xl-font-weight);

  @media screen and (max-width: $grid-break-point-lg) {
    font-size: var(--text-lg-font-size);
    line-height: var(--text-lg-line-height);
    font-weight: var(--text-lg-font-weight);
  }

  @media screen and (max-width: $grid-break-point-md) {
    font-size: var(--text-md-font-size);
    line-height: var(--text-md-line-height);
    font-weight: var(--text-md-font-weight);
  }
}

@mixin break-point-interval-gap {
  gap: var(--hds-5);

  @media screen and (max-width: $grid-break-point-lg) {
    gap: var(--hds-4);
  }
  @media screen and (max-width: $grid-break-point-md) {
    gap: var(--hds-3);
  }
}
