/* Variables */

// Colors
$main-point-color: #0ac290 !default;
$sub-point-color: #d4f9f5 !default;
$main-text-color: #2e3140 !default;
$sub-text-color: #474c55 !default;
$light-gray-color: #f5fafe !default;
$gray-color: #f5f6f7 !default;
$dark-gray-color: #d0d0d2 !default;
$wall-bg-color: #f0f8ff !default;
$box-shadow-color: 0px 0px 26px 0px #959da52e !default;

$root-color: () !default;
$root-color: map-merge(
  (
    'main-point-color': #{$main-point-color},
    'sub-point-color': #{$sub-point-color},
    'main-text-color': #{$main-text-color},
    'sub-text-color': #{$sub-text-color},
    'light-gray-color': #{$light-gray-color},
    'gray-color': #{$gray-color},
    'dark-gray-color': #{$dark-gray-color},
    'wall-bg-color': #{$wall-bg-color},
    'box-shadow-color': #{$box-shadow-color},
  ),
  $root-color
);

// Grid
$grid-break-point-md: 597px !default;
$grid-break-point-lg: 991px !default;

$root-break-point: () !default;
$root-break-point: map-merge(
  (
    'grid-break-point-md': #{$grid-break-point-md},
    'grid-break-point-lg': #{$grid-break-point-lg},
  ),
  $root-break-point
);

// HeadingSize
$heading-text-sm-font-size: 24px !default;
$heading-text-sm-line-height: 36px !default;
$heading-text-sm-font-weight: 700 !default;
$heading-text-md-font-size: 32px !default;
$heading-text-md-line-height: 46px !default;
$heading-text-md-font-weight: 700 !default;
$heading-text-lg-font-size: 48px !default;
$heading-text-lg-line-height: 56px !default;
$heading-text-lg-font-weight: 700 !default;

$root-heading-size: () !default;
$root-heading-size: map-merge(
  (
    'heading-text-sm-font-size': #{$heading-text-sm-font-size},
    'heading-text-sm-line-height': #{$heading-text-sm-line-height},
    'heading-text-sm-font-weight': #{$heading-text-sm-font-weight},
    'heading-text-md-font-size': #{$heading-text-md-font-size},
    'heading-text-md-line-height': #{$heading-text-md-line-height},
    'heading-text-md-font-weight': #{$heading-text-md-font-weight},
    'heading-text-lg-font-size': #{$heading-text-lg-font-size},
    'heading-text-lg-line-height': #{$heading-text-lg-line-height},
    'heading-text-lg-font-weight': #{$heading-text-lg-font-weight},
  ),
  $root-heading-size
);

// TextSize
$text-md-font-size: 16px !default;
$text-md-line-height: 24px !default;
$text-md-font-weight: 400 !default;
$text-lg-font-size: 18px !default;
$text-lg-line-height: 28px !default;
$text-lg-font-weight: 400 !default;
$text-xl-font-size: 20px !default;
$text-xl-line-height: 32px !default;
$text-xl-font-weight: 400 !default;

$root-text-size: () !default;
$root-text-size: map-merge(
  (
    'text-md-font-size': #{$text-md-font-size},
    'text-md-line-height': #{$text-md-line-height},
    'text-md-font-weight': #{$text-md-font-weight},
    'text-lg-font-size': #{$text-lg-font-size},
    'text-lg-line-height': #{$text-lg-line-height},
    'text-lg-font-weight': #{$text-lg-font-weight},
    'text-xl-font-size': #{$text-xl-font-size},
    'text-xl-line-height': #{$text-xl-line-height},
    'text-xl-font-weight': #{$text-xl-font-weight},
  ),
  $root-text-size
);

// BorderRadius
$border-radius-sm: 14px !default;
$border-radius-md: 16px !default;
$border-radius-lg: 20px !default;

$root-radius: () !default;
$root-radius: map-merge(
  (
    'border-radius-sm': #{$border-radius-sm},
    'border-radius-md': #{$border-radius-md},
    'border-radius-lg': #{$border-radius-lg},
  ),
  $root-radius
);

// Layout Style
$layout-margin-x: 20px !default;
$layout-z-index: 99 !default;
$section-z-index: 1 !default;
