/* Variables */

// Colors
$main-point-color: #0ac290 !default;
$sub-point-color: #d4f9f5 !default;
$main-text-color: #2e3140 !default;
$sub-text-color: #474c55 !default;
$white-text-color: #fff !default;
$light-gray-color: #f5fafe !default;
$gray-color: #f5f6f7 !default;
$dark-gray-color: #d0d0d2 !default;
$wall-bg-color: #f0f8ff !default;
$box-bg-color: #f8fafd !default;
$box-shadow-color: 0px 0px 26px 0px #959da52e !default;

$root-color: () !default;
$root-color: map-merge(
  (
    'main-point-color': #{$main-point-color},
    'sub-point-color': #{$sub-point-color},
    'main-text-color': #{$main-text-color},
    'sub-text-color': #{$sub-text-color},
    'white-text-color': #{$white-text-color},
    'light-gray-color': #{$light-gray-color},
    'gray-color': #{$gray-color},
    'dark-gray-color': #{$dark-gray-color},
    'wall-bg-color': #{$wall-bg-color},
    'box-bg-color': #{$box-bg-color},
    'box-shadow-color': #{$box-shadow-color},
  ),
  $root-color
);

$font-colors: (
  primary: $main-text-color,
  secondary: $sub-text-color,
  tertiary: $white-text-color,
  information: $main-point-color,
);
$heading-text-base-color: $main-text-color;
$text-base-color: $sub-text-color;

// Grid
$grid-break-point-md: 597px !default;
$grid-break-point-lg: 991px !default;

$root-break-point: () !default;
$root-break-point: map-merge(
  (
    'grid-break-point-md': #{$grid-break-point-md},
    'grid-break-point-lg': #{$grid-break-point-lg},
  ),
  $root-break-point
);

// Font Size
$text-sm-font-size: 14px !default;
$text-md-font-size: 16px !default;
$text-lg-font-size: 18px !default;
$text-xl-font-size: 20px !default;
$text-sm-line-height: 20px !default;
$text-md-line-height: 24px !default;
$text-lg-line-height: 28px !default;
$text-xl-line-height: 32px !default;
$text-sizes: (
  sm: $text-sm-font-size $text-sm-line-height,
  md: $text-md-font-size $text-md-line-height,
  lg: $text-lg-font-size $text-lg-line-height,
  xl: $text-xl-font-size $text-xl-line-height,
);

// Heading Size
$heading-6-font-size: 26px !default;
$heading-5-font-size: 30px !default;
$heading-4-font-size: 36px !default;
$heading-3-font-size: 42px !default;
$heading-2-font-size: 48px !default;
$heading-1-font-size: 54px !default;
$heading-6-line-height: 36px !default;
$heading-5-line-height: 42px !default;
$heading-4-line-height: 44px !default;
$heading-3-line-height: 52px !default;
$heading-2-line-height: 56px !default;
$heading-1-line-height: 62px !default;

$heading-sizes: (
  h6: $heading-6-font-size $heading-6-line-height,
  h5: $heading-5-font-size $heading-5-line-height,
  h4: $heading-4-font-size $heading-4-line-height,
  h3: $heading-3-font-size $heading-3-line-height,
  h2: $heading-2-font-size $heading-2-line-height,
  h1: $heading-1-font-size $heading-1-line-height,
);

// BorderRadius
$border-radius-sm: 14px !default;
$border-radius-md: 16px !default;
$border-radius-lg: 20px !default;

$root-radius: () !default;
$root-radius: map-merge(
  (
    'border-radius-sm': #{$border-radius-sm},
    'border-radius-md': #{$border-radius-md},
    'border-radius-lg': #{$border-radius-lg},
  ),
  $root-radius
);

// Layout Style
$layout-margin-x: 20px !default;
$layout-z-index: 99 !default;
$section-z-index: 1 !default;
$section-margin-y-1: 50px !default;
$section-margin-y-2: 75px !default;
$section-margin-y-3: 100px !default;
$section-margin-y-4: 150px !default;
$section-margin-y-5: 200px !default;
