*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  background-color: var(--);
  font-size: var(--font-size-base);
  line-height: var(--font-line-height);
  color: var(--primary-color);
}
