:root {
  --main-point-color: #0ac290;
  --sub-point-color: #d4f9f5;
  --main-text-color: #2e3140;
  --sub-text-color: #474c55;
  --dark-gray-color: #d0d0d2;
  --gray-color: #f5f6f7;
  --light-gray-color: #f5fafe;
  --wall-bg-color: #f0f8ff;
  --box-shadow-color: 0px 0px 26px 0px #959da52e;
  --primary-text: #111111;
  --secondary-text: #333333;
  --tertiary-text: #555555;
}
