:root {
  --primary-text: #111111;
  --secondary-text: #333333;
  --tertiary-text: #555555;
  --information: #e4e7fc;
  --positive: #ddf2f0;
  --caution: #fdedd7;
  --point-color: #facc15;
  --wall-color: #1e1e1e;
  --gray-text: #e5e7eb;
  --box-color: rgba(0, 0, 0, 0.5);
}
